/* Header */

:root {
  --primary-color: #f69225;
  --secondary-color: #dadada;
  --font-stack: 'Poppins', sans-serif;
}

header {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

header nav .current {
  border-bottom: 2px solid var(--primary-color);
}

header nav .nav-item {
  margin-right: 1rem;
}

header nav .btn.bg-primary {
  padding-top: 0;
  padding-bottom: 0;
}
