/* Header */
header .container-fluid {
  display: flex;
  align-items: center;
}

header .nav-wrap {
  width: 70%;
}

header .nav-wrap .navbar-nav {
  width: 100%;
}

header .navbar {
  padding: .5rem 0;
}

header .navbar-nav .current {
  border-bottom: 2px solid var(--primary-color);
}

header .search input {
  width: 100%;
  border: 1px solid var(--primary-color);
}

header .btn.bg-primary:hover {
  background-color: var(--primary-color) !important;
  opacity: 0.9;
}

header .xyz-sm {
  display: none;
}

@media (max-width: 768px) {
  header .xyz-lg, header .search {
    display: none;
  }

  header .xyz-sm {
    display: block;
  }

  header nav {
    float: right;
  }
}
